* {
  font-family: Roboto;
}

body {
  height: 1480px;
  background-color: white;
}

.top-nav {
  display: flex;
  flex-direction: column;
  height: 250px;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 180px;
  margin-left: 98px;
  text-decoration: none;
  cursor: pointer;
}

.logo-ra {
  color: #000;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo-mda {
  color: #4bcaff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-menu {
  width: 1065px;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: #35444f;
  list-style: none;
}

.top-menu-element {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}

.top-menu-element:hover {
  background-color: #2c2c2c;
  color: #dbdbdb;
  transition: 1s;
}

.side-menu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 344px;
  height: 398px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
}

.side-menu-element {
  text-decoration: none;
  margin: 0;
  padding: 26px;
  color: #485863;
  font-family: Roboto;
  font-size: 27px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  transition: margin-left;
}

.side-menu-element:hover {
  padding-left: 50px;
  background-color: #dbdbdb;
  color: black;
  transition: 1s;
}

main {
  width: 1090px;
  height: 1050px;
  margin: 0 95px 0 95px;
  padding-top: 45px;
  display: flex;
}

.main-info {
  height: 832px;
}

.img-square {
  display: flex;
  align-items: center;
  width: 695px;
  height: 529px;
  border: 1px solid black;
}

.img-square img:hover {
  width: 400px;
  height: 400px;
  transition: 1s;
}

.text-container p:first-child {
  color: #2c2c2c;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 695px;
  margin-top: 37px;
}

.text-container p {
  color: #2c2c2c;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 695px;
  margin-bottom: 13px;
}

.nav-footer {
  width: 1065px;
  height: 69px;
  background-color: rgba(99, 105, 110, 0.48);
  display: flex;
}

.nav-footer a {
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0c1927;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.copyright {
  display: flex;
  align-items: center;
  color: #010101;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.nav-footer a:hover {
  text-decoration: underline;
  color: #3181a6;
}
